{% extends 'base.html.twig' %}

{% block title %}Raport{% endblock %}


{% block body %}



    <table class="content-table">
        <thead>
        <tr>
            <th>Lp.</th>
            <th>RCP</th>
            <th>Iniciały</th>
            <th>Ilość</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for i in repoMsw %}
            <tr class="active-row">
                <td>{{ loop.index }}</td>
                <td>{{ i.rcp }}</td>
                <td>{{ i.inicial }}</td>
                <td>{{ i.ilosc }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
        </head>
    </table>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style.css') }}" rel="stylesheet" />
{% endblock %}